:root {
  background-color: #fff;
  color: rgba(255, 255, 255, 0.87);
  font-weight: 400;
  font-family: Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

body {
  display: flex;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;

  place-items: center;
}

#app {
  margin: 0 auto;
  padding: 2rem;
  max-width: 1280px;
  text-align: center;
}
